:root{
	margin: 0; padding: 0; box-sizing: border-box;
	--orange: #fca311;
	--darkblue: #14213d;
	--black: #000;
	--platinum: #e5e5e5;
}

.container{ grid-template-rows: 400px max-content 130px; }

.hero--txt{ top: 45%; }

.hero--btn{ color: var(--orange); background: var(--darkblue); }