:root{
	margin: 0; padding: 0; box-sizing: border-box;
	--orange: #fca311;
	--darkblue: #14213d;
	--black: #000;
	--platinum: #e5e5e5;
}



*,::before,::after{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

a{
	display: block;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	font-weight: 600;

}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form--container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(to bottom left, var(--darkblue) 20%, var(--orange) 90%), url(../images/header_Pic.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 30%);
    overflow: hidden;
}

/*____________________________ Sign Form ________________________*/
.left--side{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: inherit;
	width: 45%;
}

.left--side>h2{ margin-bottom: 30px;  color: var(--darkblue);}

.left--side>form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.left--side>form>input,.left--side> form>select{
	padding: 10px ;
	margin: 10px 0;
	font-size: 15px;
	border: 2px var(--platinum) solid;
	border-radius: 10px;
	width: 330px;
	color: #000;
	transition: border-bottom-color 0.15s ease-in;
}

.left--side>form>input:focus,select:focus{ outline: none; border-color: var(--orange); }

.left--side>a{
	font-weight: 600;
	padding: 10px 20px;
	margin-top: 35px;
	width: 150px;
	background: var(--orange);
	color: var(--darkblue);
	border: 2px var(--orange) solid;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.15	s ease-in-out, transform 0.15s ease-in-out , background 0.15s linear;
}


.left--side>a:hover{ box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); transform: translateY(1px); background: var(--orange);
color: var(--darkblue);}

.left--side>a:active{ transform: translateY(-1px); 	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);}

/*____________________________ right side ________________________*/

.right--side{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 55%;
}

.right--side>h1{
	color: white;
	width: max-content;
}

.right--side>.signup{
	display: block;
	padding: 10px 20px;
	margin-top: 5px;
	width: 150px;
	border-style: solid;
	border-radius: 50px;
	border-color: var(--orange);
	background: transparent;
	color: var(--orange);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); 
	transition: transform 0.15s ease-in-out , background 0.2s ease-in-out ,color 0.2s ease-in-out;
}

.right--side>.signup:hover{ background: var(--orange); border-color: var(--orange); color: var(--darkblue);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); 
}

.right--side>.signup:active{ transform: translateY(-1px) scale(0.99); box-shadow: none;}

.other--accounts--icons{
	display: flex;
	flex-direction: row;
	margin-top: 30px ;
}

.other--accounts--icons>a{
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 15px ;
	transition: transform 0.15s ease-in-out;
}

.other--accounts--icons>a:hover{ transform: scale(1.08); }

.other--accounts--icons>a:active{ transform: scale(1.0); }
